INFLUX_TOKEN="gg1imp6PCTfccLzLRH06t0cTAt5fjkOmfr-G_Z4PH9bxZH84Ek8burJauEazGJ5-4FvZPVXC3A5KX4ZiEbx8MA=="
INFLUX_ORG="iot-home"
INFLUX_URL="http://localhost:8086"
INFLUX_BUCKET="measurements"

GRAFANA_USERNAME="admin"
GRAFANA_PASSWORD="admin_password"